@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
    margin: 0;
    height: 100%;
    min-height: 100vh;
    max-height: 100vh;
}


.newspaper {
    background-color: #E0C9A6;
    padding: 12px;
    background-image: url(/newspaper-background.jpg);
    background-size: cover;
}

@font-face {
    font-family: OldNewspaper;
    src: url(/OldNewspaperTypes.ttf);
}

@font-face {
    font-family: 'Muloka Kerash';
    src: url("/Muloka Kerash.otf");
}

@font-face {
    font-family: Helvetica;
    src: url("/Helvetica Roman.ttf");
}

.font-title {
    font-family: 'Muloka Kerash';
}

.font-newspaper {
    font-family: OldNewspaper;
}

.hide {
    display: none;
}


h2.title {
    color: #fdc;
    font-weight: 700;
    text-shadow: 2px 2px 2px black;
    border-bottom: 5px solid white;
}

.image-container img {
    box-shadow: 10px 10px 20px rgba(0,0,0,0.5);
    max-width: 400px;
    margin-top: -3em;
}

img.startmeup {
    border: none;
    box-shadow: none;
    float: left;
    width: 120px;
    margin-left: -120px;
    margin-top: 50px;
}

.description {
    margin: 0 20%;
    padding: 0.8em 1em;
    border: 4px double black;
    background: #fdc;
    z-index: 1;
    max-height: 7.5em;
    overflow-y: auto;
}

.artIframe {
    width: 640px;
    height: 500px;
    margin-top: -300px;
}
