.demo {
  max-width: 1000px;
  margin: 0 auto;
  padding: 40px 20px;
}

.demo-svg {
  overflow: visible;
}

.demo-svg path {
  stroke-width: 1.5;
}

.points {
  stroke: none;
}

.demo-controls {
  display: flex;
  flex-wrap: wrap;
  max-width: 750px;
}

.demo-controls-column {
  flex: auto 0 0;
  margin-right: 40px;
}


.demo-control {
  display: flex;
  margin-bottom: 10px;
  max-width: 200px;
  flex-wrap: wrap;

  input {
    display: block;
    flex: 100%;
  }
}

.demo-label {
  display: flex;
  margin-bottom: 10px;

  input {
    margin-right: 10px;
  }
}

.demo-control label,
.demo-label{
  font-weight: bold;
}

.demo-value {
  margin-left: 6px;
}
